.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj
data/
output/
figures/
analyses/.Rprofile
scripts/.Rhistory
scripts/.ipynb_checkpoints/
scripts/.virtual_documents/
.RDataTmp
.RDataTmp1
.RDataTmp*
.RData
.Rhistory
